flows.json
[{"id":"4d87e845.38c138","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bf477659.977048","type":"ibmiot in","z":"4d87e845.38c138","authentication":"apiKey","apiKey":"3f0425b8.64c4aa","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0001","applicationId":"","deviceType":"SMtr","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":270,"y":840,"wires":[["5198635e.885c7c","5bb330a8.d6637","5d18d1f9.9776","43486b1d.fc38b4"]]},{"id":"5198635e.885c7c","type":"function","z":"4d87e845.38c138","name":"Temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["43486b1d.fc38b4","3c2bd14e.0407de"]]},{"id":"5bb330a8.d6637","type":"function","z":"4d87e845.38c138","name":"Humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":840,"wires":[["43486b1d.fc38b4","36dd86e0.0a33fa"]]},{"id":"5d18d1f9.9776","type":"function","z":"4d87e845.38c138","name":"Moisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":920,"wires":[["43486b1d.fc38b4","cbfe0b4b.c4ed08"]]},{"id":"43486b1d.fc38b4","type":"debug","z":"4d87e845.38c138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":680,"wires":[]},{"id":"3c2bd14e.0407de","type":"ui_gauge","z":"4d87e845.38c138","name":"","group":"f7104fe4.73a3b","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":760,"wires":[]},{"id":"36dd86e0.0a33fa","type":"ui_gauge","z":"4d87e845.38c138","name":"","group":"f7104fe4.73a3b","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":840,"wires":[]},{"id":"cbfe0b4b.c4ed08","type":"ui_gauge","z":"4d87e845.38c138","name":"","group":"f7104fe4.73a3b","order":0,"width":"0","height":"0","gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":920,"wires":[]},{"id":"f1cac4b7.ea2818","type":"http request","z":"4d87e845.38c138","name":"Weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=f5788652429789dc24e66ac4f8a6d248","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":1180,"wires":[["aa46924e.4d04a","b02e5a78.affac8","85b94a80.6609b8","be8c99d3.5ea978"]]},{"id":"a092137e.14e5b","type":"inject","z":"4d87e845.38c138","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":1180,"wires":[["f1cac4b7.ea2818"]]},{"id":"aa46924e.4d04a","type":"function","z":"4d87e845.38c138","name":"Temperature","func":"msg.payload=Math.round(msg.payload.main.temp-273.15);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1120,"wires":[["be8c99d3.5ea978","93766675.172d78"]]},{"id":"b02e5a78.affac8","type":"function","z":"4d87e845.38c138","name":"Humidity","func":"msg.payload=msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1180,"wires":[["be8c99d3.5ea978","2d898039.96ccb"]]},{"id":"85b94a80.6609b8","type":"function","z":"4d87e845.38c138","name":"Pressure","func":"msg.payload=msg.payload.main.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1240,"wires":[["be8c99d3.5ea978","6af3381d.646848"]]},{"id":"be8c99d3.5ea978","type":"debug","z":"4d87e845.38c138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":1320,"wires":[]},{"id":"93766675.172d78","type":"ui_gauge","z":"4d87e845.38c138","name":"","group":"9a845efb.fc936","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":1060,"wires":[]},{"id":"2d898039.96ccb","type":"ui_gauge","z":"4d87e845.38c138","name":"","group":"9a845efb.fc936","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":1060,"wires":[]},{"id":"6af3381d.646848","type":"ui_gauge","z":"4d87e845.38c138","name":"","group":"9a845efb.fc936","order":3,"width":0,"height":0,"gtype":"wave","title":"Pressure","label":"hpa","format":"{{value}}","min":0,"max":"2026","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1130,"y":1060,"wires":[]},{"id":"237eaea.4151e52","type":"debug","z":"4d87e845.38c138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":1580,"wires":[]},{"id":"c9546fc7.6ecac","type":"ui_button","z":"4d87e845.38c138","name":"MOTOR ON","group":"b2f611a7.fa306","order":1,"width":0,"height":0,"passthru":true,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR ON\"}","payloadType":"json","topic":"","x":350,"y":1460,"wires":[["1fb1aead.266511","166ca569.0adeab"]]},{"id":"80af439a.7066b","type":"ui_button","z":"4d87e845.38c138","name":"MOTOR OFF","group":"b2f611a7.fa306","order":2,"width":0,"height":0,"passthru":true,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOR OFF\"}","payloadType":"json","topic":"","x":360,"y":1720,"wires":[["1fb1aead.266511","f89491b5.005a8"]]},{"id":"12e4f726.e0db09","type":"ui_text","z":"4d87e845.38c138","group":"23469b29.59e1f4","order":1,"width":0,"height":0,"name":"Home","label":"Welcome to","format":"{{msg.payload}}","layout":"row-center","x":470,"y":60,"wires":[]},{"id":"11ffb180.5a3fdf","type":"inject","z":"4d87e845.38c138","name":"Start","topic":"","payload":"SMART AGRICULTURE","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":60,"wires":[["12e4f726.e0db09"]]},{"id":"e9ca9ff5.e2a3c","type":"ui_ui_control","z":"4d87e845.38c138","name":"","events":"all","x":1040,"y":60,"wires":[["f7f4e302.c1f89"]]},{"id":"7152d4fa.eb55dc","type":"ui_button","z":"4d87e845.38c138","name":"","group":"23469b29.59e1f4","order":2,"width":0,"height":0,"passthru":false,"label":"Options","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Options\"}","payloadType":"json","topic":"","x":140,"y":160,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"f7f4e302.c1f89","type":"debug","z":"4d87e845.38c138","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":180,"wires":[]},{"id":"c540f98e.a7a8c8","type":"ui_button","z":"4d87e845.38c138","name":"","group":"b7bd3203.caf81","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOR CONTROLS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Switch\"}","payloadType":"json","topic":"","x":120,"y":240,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"ec3909d2.643c58","type":"ui_button","z":"4d87e845.38c138","name":"","group":"b7bd3203.caf81","order":1,"width":0,"height":0,"passthru":false,"label":"Field Weather","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Field\"}","payloadType":"json","topic":"","x":150,"y":300,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"8b457d44.ededb","type":"ui_button","z":"4d87e845.38c138","name":"","group":"b7bd3203.caf81","order":2,"width":0,"height":0,"passthru":false,"label":"Weather Forecast","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Weather Forecast\"}","payloadType":"json","topic":"","x":160,"y":360,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"96194370.aa7f7","type":"ui_button","z":"4d87e845.38c138","name":"","group":"ab7c4260.88b41","order":4,"width":"2","height":"1","passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":250,"y":480,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"5135d282.577fbc","type":"ui_button","z":"4d87e845.38c138","name":"","group":"3fc31070.ee27b","order":1,"width":"2","height":"1","passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":210,"y":420,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"c14d851a.aa6b18","type":"ui_button","z":"4d87e845.38c138","name":"","group":"3fc31070.ee27b","order":2,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Options\"}","payloadType":"json","topic":"","x":370,"y":500,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"7dd4d27.d90d02c","type":"ui_button","z":"4d87e845.38c138","name":"","group":"de79b48.bfe3248","order":1,"width":0,"height":0,"passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":750,"y":320,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"d6e46274.e541","type":"ui_button","z":"4d87e845.38c138","name":"","group":"de79b48.bfe3248","order":2,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Options\"}","payloadType":"json","topic":"","x":740,"y":380,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"f452dac3.2fa428","type":"ui_button","z":"4d87e845.38c138","name":"","group":"e59f5c29.67451","order":1,"width":"2","height":"1","passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":920,"y":380,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"646d257b.b4ce1c","type":"ui_button","z":"4d87e845.38c138","name":"","group":"e59f5c29.67451","order":2,"width":"2","height":"1","passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Options\"}","payloadType":"json","topic":"","x":990,"y":420,"wires":[["e9ca9ff5.e2a3c"]]},{"id":"a613d44.ff19e28","type":"ui_toast","z":"4d87e845.38c138","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Motor On","x":420,"y":1540,"wires":[]},{"id":"c53edca2.2b905","type":"ui_toast","z":"4d87e845.38c138","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Motor Off","x":420,"y":1620,"wires":[]},{"id":"1fb1aead.266511","type":"ibmiot out","z":"4d87e845.38c138","authentication":"apiKey","apiKey":"3f0425b8.64c4aa","outputType":"cmd","deviceId":"0002","deviceType":"SMtr","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":1480,"wires":[]},{"id":"166ca569.0adeab","type":"function","z":"4d87e845.38c138","name":"ON Notification","func":"msg.payload=\"MOTOR ON\";\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":1540,"wires":[["a613d44.ff19e28","237eaea.4151e52","d01fd98d.d40f38"]]},{"id":"f89491b5.005a8","type":"function","z":"4d87e845.38c138","name":"OFF Notification","func":"msg.payload=\"MOTOR OFF\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":1620,"wires":[["c53edca2.2b905","237eaea.4151e52","d01fd98d.d40f38"]]},{"id":"d01fd98d.d40f38","type":"ui_text","z":"4d87e845.38c138","group":"b2f611a7.fa306","order":2,"width":0,"height":0,"name":"Status","label":"MOTOR STATUS","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":1580,"wires":[]},{"id":"3f0425b8.64c4aa","type":"ibmiot","z":"","name":"","keepalive":"120","serverName":"fhfvz4.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"f7104fe4.73a3b","type":"ui_group","z":"","name":"Simulator Data","tab":"df3b72ac.a8761","order":2,"disp":true,"width":"6","collapse":false},{"id":"9a845efb.fc936","type":"ui_group","z":"","name":"API Data","tab":"c72182bb.f23fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"b2f611a7.fa306","type":"ui_group","z":"","name":"MOTOR","tab":"35bb2582.3e8eda","order":4,"disp":true,"width":"6","collapse":false},{"id":"23469b29.59e1f4","type":"ui_group","z":"","name":"SMART AGRICULTURE","tab":"f9b30dcb.22c38","order":1,"disp":true,"width":20,"collapse":false},{"id":"b7bd3203.caf81","type":"ui_group","z":"","name":"Options","tab":"ccc249c4.a55b18","order":2,"disp":true,"width":"6","collapse":false},{"id":"ab7c4260.88b41","type":"ui_group","z":"","name":"Default","tab":"ccc249c4.a55b18","order":1,"disp":false,"width":"2","collapse":false},{"id":"3fc31070.ee27b","type":"ui_group","z":"","name":"Default","tab":"35bb2582.3e8eda","order":1,"disp":false,"width":"2","collapse":false},{"id":"de79b48.bfe3248","type":"ui_group","z":"","name":"Default","tab":"c72182bb.f23fc","order":1,"disp":false,"width":"2","collapse":false},{"id":"e59f5c29.67451","type":"ui_group","z":"","name":"Default","tab":"df3b72ac.a8761","order":1,"disp":false,"width":"2","collapse":false},{"id":"df3b72ac.a8761","type":"ui_tab","z":"","name":"Field","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"c72182bb.f23fc","type":"ui_tab","z":"","name":"Weather Forecast","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"35bb2582.3e8eda","type":"ui_tab","z":"","name":"Switch","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f9b30dcb.22c38","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ccc249c4.a55b18","type":"ui_tab","z":"","name":"Options","icon":"dashboard","order":2,"disabled":false,"hidden":true}]